*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
}
a, a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}


/* ===== header styles starts ===== */
header{
    width: 100%;
    height: 650px;
    background-image: url('../assets/Hero-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

header .headerSection{
    width: 650px;
    text-align: center;
}
header .headerSection img{
    width: 240px;
    margin-bottom: 20px;
}
header .headerSection h1{
    font-size: 30px;
    font-weight: 700;
}
header .headerSection p{
    /* font-size: 16px; */
    margin: 20px 0;
    color: rgb(45, 51, 65);
}
header .headerSection button{
    padding: 12px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
    font-weight: 500;
}




/* ===== webDevelopmentSection styles starts ===== */
.webDevelopmentSection{
    width: 940px;
    margin: 0 auto;
    padding: 80px;
    margin-top: 70px;
    background: rgba(13, 19, 33, 0.048);
    /* border: 1px solid red; */
}
.webDevelopmentSection .webDevelopmentSectionHeading{
    text-align: center;
}
.webDevelopmentSection .webDevelopmentSectionHeading h1{
    font-size: 25px;
    font-weight: 700;
}
.webDevelopmentSection .webDevelopmentSectionHeading p{
    margin: 20px 0;
    color: rgb(45, 51, 65);
}

.webDevelopmentSection .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    margin: 30px 0;
    /* border: 1px solid green; */
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.01))
}
.webDevelopmentSection .container .contentDiv{
    padding-right: 30px;
}
.webDevelopmentSection .container h2{
    font-weight: 600;
    color: rgba(13, 19, 33, 0.7);
}
.webDevelopmentSection .container p{
    margin: 15px 0;
    color: rgb(45, 51, 65);
}
.webDevelopmentSection .container a{
    padding: 12px 25px;
    border: 1px solid gray;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 500;
    color: rgb(13, 19, 33);
}

.webDevelopmentSection .container .imageDiv{
    width: 250px;
}
.webDevelopmentSection .container .imageDiv img{
    width: 100%;
}

.webDevelopmentSection .webDevSection2{
    flex-direction: row-reverse;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.01))
}
.webDevelopmentSection .webDevSection2 .contentDiv{
    padding-left: 30px;
    padding-right: 0;
}
/* .webDevelopmentSection .webDevSection3{
    padding-bottom: 0;
} */
/* ===== webDevelopmentSection styles ends ===== */






/* ===== inspiration styles starts ===== */
.inspirationSection{
    width: 940px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 80px;
}
.inspirationSection .inspirationSectionHeading{
    text-align: center;
}
.inspirationSection .inspirationSectionHeading h2{
    font-weight: 600;
    /* color: rgba(13, 19, 33, 0.7); */
}
.inspirationSection .inspirationSectionHeading p{
    margin: 20px 0;
    color: rgb(45, 51, 65);
}
#iFrame{
    border-radius: 10px;
    margin-top: 40px;
}
/* ===== inspiration styles ends ===== */






/* ===== currentTargetSection styles starts */
.currentTargetSection{
    width: 940px;
    margin: 0 auto;
    padding: 80px 0;
    margin-top: 70px;
    /* border: 1px solid red; */
}
.currentTargetSection .webDevelopmentSectionHeading{
    text-align: center;
}
.currentTargetSection .webDevelopmentSectionHeading h1{
    font-size: 25px;
    font-weight: 700;
}
.currentTargetSection .webDevelopmentSectionHeading p{
    margin: 20px 0;
    color: rgb(45, 51, 65);
}


.currentTargetSection .items{
    margin-top: 40px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}
.currentTargetSection .items .item{
    /* border: 1px solid gray; */
    border-radius: 10px;
    padding: 20px;
}
.currentTargetSection .items .item div{
    margin-top: 15px;
}
.currentTargetSection .items .item img{
    width: 55px;
}
.currentTargetSection .items .item h2{
    font-weight: 600;
}
.currentTargetSection .items .item p{
    margin: 10px 0;
    font-size: 14px;
    color: rgb(45, 51, 65);
}
.currentTargetSection .items .item a{
    font-size: 14px;
    font-weight: 600;
    color: rgb(45, 51, 65);
    text-decoration: underline;
}

.currentTargetSection .items .html5{
    background-color: rgb(248, 246, 245);
}
.currentTargetSection .items .css3{
    background-color: rgb(242, 245, 252);
}
.currentTargetSection .items .js{
    background-color: rgb(249, 250, 236);
}
/* ===== currentTargetSection styles ends */






/* ===== nextTargetSection styles starts ===== */
.nextTargetSection{
    width: 940px;
    margin: 0 auto;
    padding: 80px 0;
    /* border: 1px solid red; */
}
.nextTargetSection .nextTargetSectionHeading{
    text-align: center;
}
.nextTargetSection .nextTargetSectionHeading h2{
    font-weight: 600;
    /* color: rgba(13, 19, 33, 0.7); */
}
.nextTargetSection .nextTargetSectionHeading p{
    margin: 15px 0;
    color: rgb(45, 51, 65);
}

.nextTargetSection .targetContainer{
    margin-top: 70px;
}

.nextTargetSection .targetContainer .target{
    display: flex;
    align-items: center;
    padding: 25px 15px;
    border: 1px solid rgb(187, 186, 186);
    border-radius: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
}
.nextTargetSection .targetContainer .target img{
    width: 70px;
}
.nextTargetSection .targetContainer .target div{
    margin-left: 20px;
}
.nextTargetSection .targetContainer .target h2{
    font-size: 20px;
    font-weight: 600;
}
.nextTargetSection .targetContainer .target p{
    margin: 10px 0;
    font-size: 14px;
    color: rgb(88, 88, 88);
}
.nextTargetSection .targetContainer .target a{
    font-weight: 600;
    text-decoration: underline;
    color: rgb(82, 81, 81);
}
/* ===== nextTargetSection styles ends ===== */



/* needSupport styles starts */
.needSupport{
    width: 940px;
    height: 310px;
    margin: 0 auto;
    border-radius: 20px;
    background-image: url(/hands.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(13, 19, 33, 0.3);
    background-blend-mode: overlay;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.needSupport .needSupportHeading{
    width: 650px;
}
.needSupport .needSupportHeading .suggestionDiv{
    margin-top: 25px;
    display: flex;
    align-items: center;
}
.needSupport .needSupportHeading .suggestionDiv #inputField{
    width: 100%;
    margin-right: 10px;
    padding: 9px;
    font-weight: 500;
    border-radius: 5px;
}
.needSupport .needSupportHeading .suggestionDiv .suggestionBtn{
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 5px;
    /* border: none; */
    /* outline: none; */
}
.needSupport .needSupportHeading h1{
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
}
.needSupport .needSupportHeading p{
    margin: 10px 0;
    font-size: 14px;
    color: rgb(193, 200, 216);
}
/* ===== needSupport styles ends ===== */



/* ===== footer styles starts */
footer{
    margin-top: 80px;
    /* padding: 35px 120px; */
    background-color: rgba(221, 221, 224, 0.534);
}
footer section{
    width: 940px;
    margin: 0 auto;
    padding: 30px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer section h2{
    font-size: 17px;
}
footer section ul{
    display: flex;
    align-items: center;
}
footer section ul li{
    padding: 10px;
}
footer section ul li a img{
    width: 30px;
}
/* ===== footer styles ends */